<!DOCTYPE html>
<html>
    <head>
        <meta name="robots" content="noindex, nofollow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="vapid-key" content="BOMWr3igHTownSzZZTqWufIgywEwjTHD5d73nZAFo5RbXdKJi7EGzn44oQbCOQhwuCtpl0X3PzFSi2ihCQ2tLUM" />
        <link rel="icon" type="image/png" href="/static/get?path=images/favicon.png" />
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
        <link rel="stylesheet" href="/static/get?path=css/glyphicons/glyphicons.css" />
        <link rel="stylesheet" type="text/css" href="/static/get?path=css/w3.css" />
        <link rel="stylesheet" type="text/css" href="/static/get?path=css/w3-colors-2021.css" />
        <link rel="stylesheet" type="text/css" href="/static/get?path=css/style.css&r=11" />
        <script src="/static/get?path=js/script.js"></script>
        <script src="/static/get?path=js/register.js&r=9"></script>
    </head>
    <body class="w3-2021-buttercream">
        <header class="w3-container w3-2021-mint">
            <div class="w3-content">
                <a class="" href="/">STALEVAR</a>
                <a style="margin-left: 8px; font-size: 16px" href="/visitors"><span class="glyphicon glyphicon-user"></span></a>
                <a style="margin-left: 8px; font-size: 16px" href="/info"><span class="glyphicon glyphicon-send"></span></a>
                <a style="margin-left: 11px; font-size: 16px" href="/message/add"><span class="glyphicon glyphicon-pencil" style="cursor: pointer"></span></a>
                <a class="w3-right" href="/comments"><small><span class="glyphicon glyphicon-arrow-up"></span></small></a>
            </div>
        </header>
        <nav class="w3-section">
            <div class="w3-content" style="padding: 0 16px 0 16px">                
            </div>
        </nav>
        <main class="w3-section">
            <div class="w3-content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>
